<ion-tabs>

  <ion-tab-bar color="dark" slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon color="success" icon="body"></ion-icon>
      <ion-label color="success">EXERCISES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon color="success" icon="contacts"></ion-icon>
      <ion-label color="success">AVATARS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon color="success" icon="play"></ion-icon>
      <ion-label color="success">START</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>