<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="success">
        AVATARS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-title>
          CHILD
        </ion-card-title>
        <img src="./../../assets/images/child1.jpg" alt="">
        <ion-card-content>
            <span class="card-content">FREE</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-title>
          KARATE MAN IN WHITE
        </ion-card-title>
        <img src="./../../assets/images/karate2.jpg" alt="">
        <ion-card-content>
            <span class="card-content">10$</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-title>
          FOOTBALLER
        </ion-card-title>
        <img src="./../../assets/images/man1.jpg" alt="">
        <ion-card-content>
            <span class="card-content">10$</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-title>
          WOMAN
        </ion-card-title>
        <img src="./../../assets/images/woman2.jpg" alt="">
        <ion-card-content>
            <span class="card-content">10$</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-title>
          KARATE MAN IN BLACK
        </ion-card-title>
        <img src="./../../assets/images/karate1.jpg" alt="">
        <ion-card-content>
            <span class="card-content">10$</span>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>