ion-card-title {
    padding: 1vh 0;
    box-sizing: border-box;
    background-color: black;
    color: #10dc60;
}

.card-content {
    font-weight: bold;
    font-size: 22px;
    line-height: 0;
}

ion-card-content {
    background-color: black;
    color: #10dc60;
}
ion-slides{
    height: 83vh;
}