<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="success">
        EXERCISES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="exercises-row">
    <ion-card class="exercise">
      <img src="./../../assets/images/yoga.jpg" alt="">
      <ion-card-header>
        <ion-card-subtitle color="success">Yoga</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="exercise">
      <img src="./../../assets/images/gym.jpg" alt="">
      <ion-card-header>
        <ion-card-subtitle color="success">Gym</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="exercises-row">
      <ion-card class="exercise">
        <img src="./../../assets/images/losing_weight.png" alt="">
        <ion-card-header>
          <ion-card-subtitle color="success">Losing weight</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card class="exercise">
        <img src="./../../assets/images/workout.png" alt="">
        <ion-card-header>
          <ion-card-subtitle color="success">Workout</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="exercises-row">
        <ion-card class="exercise">
          <img src="./../../assets/images/wushu.jpg" alt="">
          <ion-card-header>
            <ion-card-subtitle color="success">Wushu</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
    
        <ion-card class="exercise">
          <img src="./../../assets/images/fitness.jpg" alt="">
          <ion-card-header>
            <ion-card-subtitle color="success">Fitness</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    
</ion-content>