<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="success">
      START
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Motion sensor field -->
  <div>
    <h1> X : {{x}}</h1>
  </div>
  <div>
    <h1> Y : {{y}}</h1>
  </div>
  <div>
    <h1> Z : {{z}}</h1>
  </div>

  <ion-button size="large" expand="block" color="success" (click)="start()">Start</ion-button>
  <ion-button size="large" expand="block" color="success" (click)="stop()">Stop</ion-button>

  <!-- Сamera btn -->
  <!-- <img [src]="currentImage" *ngIf="currentImage"> -->
  <img [src]="picture" *ngIf="picture">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success" (click)="OpenPreview()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>